<div>
  <h3 translate>Studenti</h3>
</div>
<table class="table table-bordered">
  <tr>
    <th translate>Broj indeksa</th>
    <th translate>Ime</th>
    <th translate>Prezime</th>
    <th translate>Akcija</th>
  </tr>
  <tr ng-repeat="student in studentsPage| filter:pretraga| limitTo:5">
    <td>
      {{student.brojIndexa}}
    </td>
    <td>
      {{student.korisnik.ime}}
    </td>
    <td>
      {{student.korisnik.prezime}}
    </td>
    <td>
      <a ng-href="#/students/{{student.studentID}}">
        <button type="button" class="btn btn-default" aria-label="Izmena">
	        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
	    </button>
      </a>
      

      <button type="button" class="btn btn-default" aria-label="Brisanje" ng-click="deleteStudent(student.studentID)">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </td>
  </tr>
</table>
<div class="right">
  <a ng-href="#/students/new">
	  <button type="button" class="btn btn-default" aria-label="Dodavanje">
	    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	  </button>
  </a>
</div>

<ul ng-if="pages.length>1">
	<li ng-repeat="p in pages track by $index">
	 	<span ng-click="page(p)">{{p+1}}</span>
	</li>
</ul>